default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: name-tests-test
      args: [ "--django" ]
    - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py312-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.29.1'
    hooks:
    -   id: django-upgrade
        args: [--target-version, "5.2"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    # Run the formatter.
    - id: ruff-format
      args: [--check]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      name: codespell
      # description: Checks for common misspellings in text files.
      # entry: codespell --ignore-words ignore-spelling-words.txt readme.md code.py
      # language: python
      # types: [text]
      args: [-I, .codespellignore]
      exclude: >
                (?x)^(
                    .*\.css\.map|
                    .*\.json|
                    .*\.js\.map|
                    .*\.lock|
                    .*\.min\.css\.map|
                    .*\.min\.js|
                    .*\.po|
                    .*\.pyc|
                    shCore.js|
                    \.tox|
                    assets_migrated/.*
                )$

  - repo: https://github.com/python-poetry/poetry
    rev: '2.2.1'
    hooks:
    - id: poetry-check
    # - id: poetry-lock

  # - repo: local
  #   hooks:
  #     - id: export-requirements
  #       name: Export Requirements
  #       entry: poetry export --without-hashes --with types -f requirements.txt -o requirements.txt
  #       language: system
  #       files: ^poetry.lock$
