{% extends 'django_diagnostic/one_column_fluid.html' %}

{% block title %}{{ view.page_title }}{% endblock title %}

{% block content %}
<h2>{{ view.page_heading }}</h2>

{% include "django_diagnostic/git.html" %}

<br>
<h3 class="text-primary mt-4 mb-2">OS Environment</h3>

<table class="table table-condensed table-striped">
    {% for key,value in environ.items|dictsort:0 %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
        <td></td>
    </tr>
    {% empty %}
    <tr>
        <td>{% trans 'No environ data' %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
