<h3 class="text-primary mt-4 mb-2">Running Code</h3>

<table class="table w-auto table-condensed table-striped">
    <tr>
        <td>git describe</td>
        <td>{{ git_describe }}</td>
        <td></td>
    </tr>
    <tr>
        <td>git detached head</td>
        <td>{{ git_detached_head|yesno:"yes,no,<unknown>" }}</td>
        <td></td>
    </tr>
    <tr>
        <td>git active branch name</td>
        <td>{{ git_active_branch }}</td>
        <td></td>
    </tr>
    <tr>
        <td>git active branch tracking branch</td>
        <td>{{ active_branch_tracking_branch }}</td>
        <td></td>
    </tr>
    <tr>
        <td>git hexsha</td>
        <td>{{ hexsha }}</td>
        <td></td>
    </tr>
    <tr>
        <td>hostname</td>
        <td>{{ hostname }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Django Version</td>
        <td>{{ django_version }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Python Version</td>
        <td>{{ python_version }}</td>
        <td></td>
    </tr>
</table>
