{% extends 'django_diagnostic/one_column_fluid.html' %}

{% block title %}{{ view.page_title }}{% endblock title %}

{% block content %}
<h2>{{ view.page_heading }}</h2>

<br>
<h3 class="text-primary mt-4 mb-2">Static Files Settings</h3>
  <table class="table w-auto table-condensed">
    <tr>
      <td>Staticfiles Dirs</td>
      <td>{{staticfiles_dirs}}</td>
    </tr>
    <tr>
      <td>Staticfiles Finders</td>
      <td>{{staticfiles_finders}}</td>
    </tr>
    <tr>
      <td>Staticfiles Storage</td>
      <td>{{staticfiles_storage}}</td>
    </tr>
    <tr>
      <td>Static Root</td>
      <td>{{static_root}}</td>
    </tr>
    <tr>
      <td>Static URL</td>
      <td>{{static_url}}</td>
    </tr>
  </table>

{% if manifest %}
<br>
<h3 class="text-primary mt-4 mb-2">Static Manifest</h3>

<pre> {% filter pprint %} {{manifest}} {% endfilter %} </pre>

{% else %}
<br>
<h3 class="text-primary mt-4 mb-2">Static Manifest Errors</h3>

<p>Unable to load staticfiles manifest.</p>
<p>Tried to find manifest here: <code>{{staticfiles}}</code></p>
<p>Possible issues:</p>
<ul>
  <li>Perhaps whitenoise/manifest not in use.</li>
  <li>Check STATICFILES_STORAGE is set manifest. Currently: <code>{{staticfiles_storage}}</code></li>
  <li>Maybe you are using <code>INSTALLED_APPS += ('whitenoise.runserver_nostatic',)</code></li>
  <li>Or maybe this is runserver</li>
  <li>Or maybe you need to run collectstatic <code>python manage.py collectstatic</code></li>
</ul>
{% endif %}
{% endblock content %}
